:root {
	--basic-black: #000000;
	--basic-dark: #333333;
	--basic-white: #ffffff;
	--basic-blue: #81B3D2;
	--bg-body: #F2F2F2;
	--bg-features: #EEEEEE;
	--form-field: #F2F2F2;
	--form-field-hover: #EBEBEB;
	--form-field-focus: #FFFFFF;
	--a-hover: #81B3D2;
	--link: #766357;
	--link-hover: #604E43;
	--link-active: #503E33;
	--button-hover: #669EC0;
	--button-active: #5496BD;
	--catalog-list-border: #E5E5E5;
	--basic-padding: 72px;

	--special-bg: #6691bb;
	--special-bg-filter: #2b3e45;
	--range-scale: #8c8080;
	--range-toogle: #ababab;
	--range-toogle-shadow: #cfcfcf;
	--special-bg-map: #cbdda9;
	--rating-text: #666666;
}
@font-face {
  	font-family: 'PT Sans';
  	src: url('../fonts/PTSans.woff2') format('woff2'),
    	url('../fonts/PTSans.woff') format('woff'),
    	local(Verdana),
    	local(Arial);
   	font-weight: 400;
	font-style: normal;
}
@font-face {
  	font-family: 'PT Sans';
   	font-weight: 700;
	font-style: normal;
 	src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
    	url('../fonts/PTSans-Bold.woff') format('woff');
}

a {text-decoration: none;}
body {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-dark);
	font-weight: 400;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	padding: 0;
	

	display:grid;
	min-height: 100%;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	position: relative;

	width: 1200px;
	margin: 0 auto;
	background-color: var(--basic-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page {
	height: 100%;
	background-color: var(--bg-body);
}

.page ul {
	list-style: none;
	padding: 0;
    margin: 0;
}

.main-header {
	position: relative;
}
.main-padding {
	padding: 0 var(--basic-padding);
}
.main-navigation ul {
	padding: 15px 0;
}
.main-navigation-logo {
	position: absolute;
    width: 138px;
    left: 530px;
    z-index: 100;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
}
.site-navigation li {
	box-sizing: border-box;
	width: 228px;
}
.site-navigation li:nth-child(2) {
	margin-right: auto;
}
.site-navigation li:nth-child(3) {
	text-align: right;
}
.site-navigation li:nth-child(4) {
	text-align: right;
}
.site-navigation a {
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-black);
	text-decoration: none;
}
.site-navigation a:hover {
	color: var(--a-hover);
}
.site-navigation a:active {
	color: rgb(0 0 0 / 30%);
}
.site-navigation .active-link {
	color: var(--link);
}
.site-navigation .active-link:hover {
	color: var(--link);
}
.welcome {
	margin-bottom: 14px;
}
.welcome-banner {
	background-color: var(--special-bg);
	background: url('../img/photo-sedona.jpg') no-repeat;
	background-size: cover;
    background-position: center;
	height: 509px;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.welcome-banner img {
	margin-bottom: 5px;
}
.welcome-banner::after {
	content: '';
	background-image: url('../img/mask-banner.svg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
}
.welcome h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin: 43px auto 0;
    width: 470px;
    min-height: 80px;
}
.features h2 {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 52px;
    text-align: center;
}
.features-list {
	display: grid;
	grid-template-columns: 400px 400px 400px;
}
.features-item:nth-child(1) {
	display: grid;
	grid-template-areas: 'white-text image image';
	grid-column: 1/4;
	margin-bottom: 68px;
}
.features-item .image {
	grid-area: image;
}
.features-item h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0 auto 27px;
	padding: 0 75px;
}
.item-number {
	padding-bottom: 9px;;
}
.features-item:nth-child(1)>div {
	width: 400px;
	text-align: center;
    box-sizing: border-box;
}
.features-item:nth-child(2) {
	grid-column: 1/4;
}
.white-text {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	grid-area: white-text;
	padding: 47px 47px 40px;
}
.white-text--v2 {
	display: grid;
	grid-template-areas: 'image image white-text--v2';
	padding: 0;
}
.white-text--v2>div {
	text-align: center;
    padding: 40px 40px 20px;
}
.white-text--v2 h3 {
	margin-top: 8px;
}
.bg-gray {
	background-color: var(--bg-features);
    text-align: center;
    padding: 46px 50px 38px;
}
.bg-gray .item-description {
	padding: 0 21px;
}
.bg-gray .spec-padding-fox {
	padding: 0 20px;
}
.subitem-title {
	font-size: 21px;
	font-weight: 700;
	position: relative;
	margin-bottom: 26px;
}
.order {
    text-align: center;
    padding-top: 33px;
    width: 568px;
    margin: 0 auto;
    background-color: var(--basic-white);
    position: relative;
}
.order h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
	margin-right: 10px;
	margin-bottom: 34px;
}
.order-subtitle {
	line-height: 24px;
	margin-bottom: 42px;
}
.form-show {
	display: block;
	animation-name: show-from;
	animation-duration: 1s;
}
.order form {
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	position: absolute;
    background-color: var(--basic-white);
    width: 100%;
    box-sizing: border-box;
    padding: 42px 55px 56px;
    z-index: 100;
    color: var(--basic-black);
    transition: all .3s linear;
}
.form-hidden {
	display: none;
}
.order label {
	width: 110px;
    display: inline-block;
    vertical-align: baseline;
}
.order label[for='countAdults'] {
	width: 109px;
}
.order label[for='countChildren'] {
	width: 62px;
	margin-left: 50px;
}
.order input {
	background-color: var(--form-field);
	border: none;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}
.order input:hover {
	background-color: var(--form-field-hover);
}
.order input:focus {
	background-color: var(--form-field-focus);
	outline: 2px solid #E5E5E5;
}
.order .input-date {
	width: 344px;
    padding: 5px 11px 6px;
}
.order .icon-calendar {
	width: 21px;
	height: 23px;
	background-image: url('../img/icon-calendar.svg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    position: absolute;
    right: 9px;
    top: 6px;
    outline: none;
    cursor: pointer;
}
.order .icon-calendar:hover {
	background-image: url('../img/icon-calendar-hover.svg');
}
.order .icon-calendar:active {
	background-image: url('../img/icon-calendar-on.svg');
}
.order .input-number {
	width: 113px;
    padding: 6px 0;
    text-align: center;
    position: relative;
}
.order .icon-minus {
	width: 20px;
	height: 20px;
	background-image: url('../img/icon-minus.svg');
	background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 121px;
    z-index: 10;
    cursor: pointer;
}
.order .icon-minus:hover {
	background-image: url('../img/icon-minus-hover.svg');
}
.order .icon-minus:active {
	background-image: url('../img/icon-minus-on.svg');
}
.order .icon-minus-right {
	left: 354px;
}
.order .icon-plus {
	width: 20px;
	height: 20px;
	background-image: url('../img/icon-plus.svg');
	background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 197px;
	z-index: 10;
	cursor: pointer;
}
.order .icon-plus:hover {
	background-image: url('../img/icon-plus-hover.svg');
}
.order .icon-plus:active {
	background-image: url('../img/icon-plus-on.svg');
}
.order .icon-plus-right {
	left: 430px;
}
.order .form-row {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
    text-align: left;
    position: relative;
}
.search-link {
	font-size: 21px;
	line-height: 26px;
	background-color: var(--link);
	color: var(--basic-white);
	font-weight: 700;
	text-decoration: none;
	padding: 31px 10px 30px 12px;
	text-align: center;
	display: block;
	cursor: pointer;
}
.search-link:hover, .link-order:hover {
	background-color: var(--link-hover);
}
.search-link:active, .link-order:active {
	background-color: var(--link-active);
	color: rgb(255 255 255 / 30%);
}
.button {
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-white);
	font-weight: 700;
	background-color: var(--basic-blue);
	border: none;
	padding: 16px 0;
    text-transform: uppercase;
    width: 458px;
    display: block;
    margin-top: 54px;
}
.button:hover, .link-more:hover {
	background-color: var(--button-hover);
}
.button:active, .link-more:active {
	background-color: var(--button-active);
	color: rgb(255 255 255 / 30%);
}
.main-footer {
	display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 36px;
    padding-top: 23px;
}
.inner-footer {
	border-top: 1px solid var(--catalog-list-border);
}
.main-footer .footer-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 327px;
}
.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-black);
	display: flex;
    flex-direction: column;
    text-align: center;
}
.main-footer .footer-social {
	padding-top: 12px;
}
.footer-phone {
	color: var(--basic-black);
	text-decoration: none;
	margin-top: 9px;
}
.footer-social>li {
	margin-right: 6px;
}
.footer-social>li:last-child {
	margin-right: 0;
}
.social-button {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	width: 46px;
	height: 48px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.social-button:hover {
	background-color: var(--button-hover);
}
.social-button:active {
	background-color: var(--button-active);
}
.social-button:active>img  {
	opacity: 0.3;
}
.footer-copyright a {
	line-height: 26px;
	color: var(--basic-black);
	text-decoration: none;
	display: flex;
    align-items: center;
}

.footer-copyright a {
	width: 196px;
    height: 41px;
    background: url('../img/logo-htmlacademy.svg') no-repeat;
    background-size: initial;
    background-position: right;
}
.footer-copyright a:hover {
	background-image: url('../img/logo-htmlacademy-hover.svg');
}
.footer-copyright a:active {
	background-image: url('../img/logo-htmlacademy-on.svg');
}
.main-footer .footer-copyright {
    padding-top: 13px;
}
.filter-form {
	background-color: var(--special-bg-filter);
	background: url('../img/filter-background.jpg');
	background-size: cover;
    background-position: center;
	color: var(--basic-white);
	padding-top: 25px;
	padding-bottom: 32px;
	display: grid;
    grid-template-areas: 'infrastructure typeofhousing . cost';
    grid-template-columns: 254px 274px 210px 316px;
}
.filter-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
.filter-form .infrastructure {
	grid-area: infrastructure;
}
.filter-form li {
	margin-top: 25px;
}
.filter-form .typeofhousing {
	grid-area: typeofhousing;
}
.typeofhousing label {
	padding-left: 43px;
}
.filter-form .cost {
	grid-area: cost;
	display: flex;
	flex-direction: column;
}
.cost-range-value {
	border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 6px;
    margin-top: 12px;
}
.cost-range-value>span {
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	width: 50%;
	box-sizing: border-box;
}
.cost-range-value>span:nth-child(1) {
	padding-right: 4px;
}
.cost-range-value>span:nth-child(2) {
    border-left: 2px solid white;
    padding-left: 10px;
}
.filter-form input[type='range'] {
	margin: 10px 0 27px;
	cursor: pointer;
}
.range-area {
    box-sizing: border-box;
    margin-top: 11px;
    margin-bottom: 22px;
    height: 21px;
    padding-top: 9px;
    position: relative;
}
.range-area .scale {
	height: 2px;
	background-color: var(--range-scale);
}
.range-area .bar {
	height: 2px;
	background-color: var(--basic-white);
	width: 80%;
}
.range-area .toggle {
	width: 4px;
  	height: 4px;
  	padding: 0;
  	border: 8px solid #ffffff;
  	background-color: var(--range-toogle);
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 var(--range-toogle-shadow);
  	cursor: pointer;
}
.range-area .toggle:hover {
	transform: scale(1.2);
}
.range-area .toggle:active {
	outline: none;
}
.range-area .toggle-min {
	position: absolute;
	left: 0;
	top: 0;
}
.range-area .toggle-max {
	position: absolute;
	right: 43px;
	top: 0;
}
.filter-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}
.filter-form label {
	font-size: 14px;
	line-height: 21px;
	position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 39px;
}
.typeofhousing label {
	padding-left: 42px;
}
.filter-form input[type='checkbox'] + label::before {
	content: '';
	background: url('../img/checkbox-off.svg');
	position: absolute;
	left: 0;
	top: 0;
	width: 23px;
	height: 23px;
}
.filter-form input[type='checkbox']:checked + label::before {
	background: url('../img/checkbox-on.svg');
	width: 27px;
}
.filter-form input[type='checkbox']:checked:disabled + label::before {
	background: url('../img/checkbox-on-dis.svg');
	width: 27px;
}
.filter-form input[type='checkbox']:disabled + label::before {
	background: url('../img/checkbox-off-dis.svg');
}
.filter-form button {
	font-size: 14px;
	line-height: 21px;
	border: 2px solid var(--basic-white);
	background-color: transparent;
	color: var(--basic-white);
	padding: 6px 0;
    text-transform: uppercase;
    border-radius: 2px;
    width: 137px;
    margin-left: 85px;
}
.filter-form button:hover {
	background-color: var(--basic-white);
	color: var(--basic-black);
}
.sort-title {
	font-size: 12px;
	line-height: 18px;
	padding-right: 40px;
}
.sort-list {
	list-style: none;
}
.sort-list a {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
	opacity: 0.3;
	text-decoration: none;
	border-bottom: 1px dashed #81B3D2;
}
.sort-list a:hover {
	color: var(--basic-blue);
	opacity: 1;
}
.sort-list a:active {
	color: var(--basic-black);
	opacity: 1;
	text-decoration: none;
	border-bottom: 0;
}
.sort-active a {
	opacity: 1;
	color: var(--basic-blue);
	border-bottom: none;
}
.link-more {
	background-color: var(--basic-blue);
	padding: 4px 17px;
}
.link-order {
	background-color: var(--link);
	margin-left: 2px;
	padding: 4px 17px;
}
.map {
	position: relative;
}
.map iframe {
	width: 100%;
	height: 593px;
	background-color: var(--special-bg-map);
	background: url('../img/map.jpg') no-repeat;
	background-position: center;
    background-size: initial;
}
.footer-mainpage {
	z-index: 100;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    background-color: var(--basic-white);
    padding-bottom: 40px;
}
.subitem-title-box::before {
	content: '';
    width: 100%;
    height: 77px;
    display: block;
    margin-bottom: 25px;
}
.subitem-title-box {
	padding: 58px 50px 0;
}
.housing::before {
	background-image: url('../img/icon-housing.svg');
	background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}
.eat::before {
	background-image: url('../img/icon-eat.svg');
	background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}
.souvenir::before {
	background-image: url('../img/icon-souvenir.svg');
	background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    height: 74px;
    margin-bottom: 28px;
}
.catalog-header {
	display: none;
}
.search-result h2 {
	display: none;
}
.find-count {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	width: 135px;
}
.sort-area {
	display: flex;
	margin-left: 30px;
	align-items: center;
	padding-bottom: 4px;
}
.rate-area {
	margin: 0 2px 0 auto;
	padding-top: 5px;
	display: flex;
    align-items: center;
}
.rate-area>a {
	width: 11px;
	height: 10px;
	background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}
.rate-area .arrow-up {
	background-image: url('../img/icon-up.svg');
}
.rate-area .arrow-down {
	background-image: url('../img/icon-down.svg');
}
.rate-area .arrow-up:hover {
	background-image: url('../img/icon-up-hover.svg');
}
.rate-area .arrow-down:hover {
	background-image: url('../img/icon-down-hover.svg');
}
.rate-area .arrow-up:active {
	background-image: url('../img/icon-up-active.svg');
}
.rate-area .arrow-down:active {
	background-image: url('../img/icon-down-active.svg');
}
.rate-area .current-up {
	background-image: url('../img/icon-up-active.svg');
}
.rate-area .current-down {
	background-image: url('../img/icon-down-active.svg');
}
.rate-area>a:first-child {
	margin-right: 10px;
	align-items: center;
    display: flex;
}
.sort-list li {
	display: inline-block;
	vertical-align: baseline;
    margin-right: 29px;
}
.result-item {
	padding: 24px 72px 30px;
	border-top: 1px solid var(--catalog-list-border);
	display: flex;
	position: relative;
}
.result-item .item-image {
	margin-top: 6px;
}
.result-item:last-child {
	border-bottom: 1px solid var(--catalog-list-border);
}
.result-list .item-about {
	margin-left: 30px;
}
.result-list .item-about>p {
	display: inline-block;
	vertical-align: baseline;
}
.item-about>p:first-child {
	display: block;
}
.result-list .item-type {
	width: 113px;
    padding: 7px 0 14px;
}
.result-list .item-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	display: block;
	text-align: left;
	color: var(--basic-black);
}
.result-list .item-title:hover {
	color: var(--basic-blue);
}
.result-list .item-title:active {
	color: rgb(0 0 0 / 30%);
}
.item-buttons {
	margin-top: 4px;
}
.result-list a {
	color: var(--basic-white);
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}
.search-result h2 {
	display: none;
}
.star-rating-area {
	margin: 0 0 0 auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.rating {
	background-color: var(--form-field);
    padding: 2px 13px;
    color: var(--rating-text);
}
.stars {
    height: 17px;
    margin-top: 4px;
}
.star4 {
	width: 76px;
}
.star3 {
	width: 56px;
}
.star2 {
	width: 36px;
}
.search-result .wrapper {
	display: flex;
    padding-top: 8px;
    padding-bottom: 10px;
}
.result-list p {
	margin: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.order-error {
	animation-name: shake;
	animation-duration: 0.6s;
}

@keyframes shake {
	0%, 100% 				{transform: translateX(0);}
	10%, 30%, 50%, 70%, 90%	{transform: translateX(-10px);}
	20%, 40%, 60%, 80%		{transform: translateX(10px);}
}
@keyframes show-from {
  0% {
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}