@font-face {
  	font-family: "PT Sans";
  	src: url("../fonts/PTSans.woff2") format("woff2"),
    	url("../fonts/PTSans.woff") format("woff"),
    	local(Verdana),
    	local(Arial);
   	font-weight: 400;
	font-style: normal;
}
@font-face {
  	font-family: "PT Sans";
   	font-weight: 700;
	font-style: normal;
 	src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    	url("../fonts/PTSans-Bold.woff") format("woff");
}

:root {
	--basic-black: #000000;
	--basic-dark: #333333;
	--basic-white: #ffffff;
	--basic-blue: #81B3D2;
	--bg-body: #F2F2F2;
	--bg-features: #EEEEEE;
	--form-field: #F2F2F2;
	--form-field-hover: #EBEBEB;
	--form-field-focus: #FFFFFF;
	--a-hover: #81B3D2;
	--link: #766357;
	--link-hover: #604E43;
	--link-active: #503E33;
	--button-hover: #669EC0;
	--button-active: #5496BD;
	--catalog-list-border: #E5E5E5;
}

a {text-decoration: none;}
* {margin: 0; padding: 0;}
body {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-dark);
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	background-color: var(--bg-body);
}

.page-body {
	display:grid;
	min-height: 100%;
	grid-template-rows: min-content 1fr min-content;

	position: relative;
}
.page-body ul {
	list-style: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
	background-color: var(--basic-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
.main-navigation {
	position: relative;
}
.main-navigation-logo {
	position: absolute;
	text-align: center;
    width: 138px;
    left: 530px;
    z-index: 100;
}
.site-navigation {
	display: flex;
}
.site-navigation li {
	line-height: 57px;
	box-sizing: border-box;
	width: 300px;
}
.site-navigation li:nth-child(1) {
	padding-left: 72px;
}
.site-navigation li:nth-child(3) {
	text-align: right;
}
.site-navigation li:nth-child(4) {
	text-align: right;
	padding-right: 72px;
}
.site-navigation a {
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-black);
	text-decoration: none;
}
.site-navigation a:hover {
	color: var(--a-hover);
}
.site-navigation .active-link {
	color: var(--link);
}
.site-navigation .active-link:hover {
	color: var(--link);
}
.welcome-banner {
	background-color: #6691bb;
	background: url('../img/photo-sedona.jpg') no-repeat;
	height: 500px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.welcome h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin: 50px auto 0;
    width: 470px;
    height: 80px;
}
.features h2 {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin: 16px 0 50px;
    text-align: center;
}
.features-list {
	display: grid;
	grid-template-columns: 400px 400px 400px;
}
.features-item:nth-child(1) {
	display: grid;
	grid-template-areas: "white-text image image";
}
.features-item .image {
	grid-area: image;
}
.features-item h3 {
	font-size: 21px;
	font-weight: 700;
	width: 150px;
}
.item-number {
	margin: 28px 0 22px;
}
.item-description {
	
}
.features-item:nth-child(1)>div {
	width: 400px;
	display: flex;
    flex-direction: column;
	text-align: center;
    padding: 40px 50px;
    box-sizing: border-box;
    align-items: center;
}
.features-item:nth-child(1) {
	grid-column: 1/4;
}
.features-item:nth-child(2) {
	grid-column: 1/4;
	margin-top: 18px;
}
.white-text {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	grid-area: white-text;
}
.white-text>h3 {
	margin-top: 8px;
}
.white-text--v2 {
	display: grid;
	grid-template-areas: "image image white-text--v2";
}
.white-text--v2>div {
	display: flex;
	flex-direction: column;
	text-align: center;
    padding: 40px 40px;
    align-items: center;
}
.white-text--v2>div>h3 {
	margin-top: 8px;
}
.bg-gray {
	background-color: var(--bg-features);
	display: flex;
    flex-direction: column;
    text-align: center;
    padding: 47px 50px 52px;
    box-sizing: border-box;
    align-items: center;
}
.bg-gray .item-description {
	padding: 0 20px;
}
.subitem-title {
	font-size: 21px;
	font-weight: 700;
	position: relative;
	margin-bottom: 26px;
}
.order {
	display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 58px;
    width: 568px;
    margin: 0 auto;
    background-color: var(--basic-white);
    position: relative;
}
.order h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
}
.order-subtitle {
	line-height: 24px;
}
.order form {
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	padding: 54px;
	position: absolute;
    top: 292px;
    background-color: var(--basic-white);
}
.m26 {
	margin-top: 26px;
}
.order p {
	margin-bottom: 28px;
}
.order input {
	background-color: var(--form-field);
	border: none;
	box-sizing: border-box;
}
.order input:hover {
	background-color: var(--form-field-hover);
}
.order input:focus {
	background-color: var(--form-field-focus);
}
.order input[type="date"] {
	width: 346px;
    padding: 6px 0 6px 13px;
}
.order input[type="number"] {
	width: 114px;
    padding: 6px 0;
    text-align: center;
}
.order p, .order input {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-subtitle {
	margin: 32px 0 10px;
	padding-bottom: 14px;
}
.search-link {
	font-size: 21px;
	line-height: 26px;
	background-color: var(--link);
	color: var(--basic-white);
	font-weight: 700;
	text-decoration: none;
	padding: 30px 125px;
	text-align: center;
	display: block;
	cursor: pointer;
}
.search-link:hover, .link-order:hover {
	background-color: var(--link-hover);
}
.search-link:active, .link-order:active {
	background-color: var(--link-active);
}
.button {
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-white);
	font-weight: 700;
	background-color: var(--basic-blue);
	border: none;
	padding: 16px 0;
    text-transform: uppercase;
    width: 460px;
}
.button:hover, .link-more:hover {
	background-color: var(--button-hover);
}
.button:active, .link-more:active {
	background-color: var(--button-active);
}
.main-footer {
	display: grid;
	padding: 24px 72px 36px;
	grid-template-columns: 328px 400px 328px;
}
.main-footer .footer-item {
	display: flex;
	justify-content: center;
}
.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-black);
	display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-phone {
	color: var(--basic-black);
	text-decoration: none;
	margin-top: 8px;
}
.footer-social>li {
	margin-right: 6px;
}
.footer-social, .footer-copyright {
	align-items: flex-end;
}
.footer-social>li:last-child {
	margin-right: 0;
}
.social-button {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	width: 46px;
	height: 48px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.social-button:hover {
	background-color: var(--button-hover);
}
.social-button:active {
	background-color: var(--button-hover);
	opacity: 0.8;
}
.footer-copyright a {
	line-height: 26px;
	color: var(--basic-black);
	text-decoration: none;
	display: flex;
    align-items: center;
}

.footer-copyright a>img {
	margin-left: 8px;
	margin-bottom: 6px;
}
.footer-copyright a>img:hover {
	color: var(--a-hover);
    margin-bottom: 4px;
}
.filter-form {
	background: url('../img/filter-background.jpg');
	background-color: #6691bb;
	color: var(--basic-white);
	padding: 24px 72px 32px;
	display: grid;
    grid-template-areas: "infrastructure typeofhousing . cost";
    grid-template-columns: 254px 274px 210px 316px;
}
.filter-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
.filter-form input[type="checkbox"] {
	margin-right: 15px;
}
.filter-form .infrastructure {
	grid-area: infrastructure;
}
.filter-form li {
	margin-top: 25px;
}
.filter-form .typeofhousing {
	grid-area: typeofhousing;
}
.filter-form .cost {
	grid-area: cost;
	display: flex;
	flex-direction: column;
}
.cost-range-value {
	border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 6px;
    margin-top: 12px;
}
.cost-range-value>span {
	text-align: center;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}
.cost-range-value>span:nth-child(1) {
	padding-right: 4px;
}
.cost-range-value>span:nth-child(2) {
    border-left: 2px solid white;
    padding-left: 10px;
}
.filter-form input[type="range"] {
	margin: 10px 0 27px;
	cursor: pointer;
}
.filter-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}
.filter-form label {
	font-size: 14px;
	line-height: 21px;
}
.filter-form button {
	font-size: 14px;
	line-height: 21px;
	border: 2px solid var(--basic-white);
	background-color: transparent;
	color: var(--basic-white);
	padding: 6px 0;
    text-transform: uppercase;
    border-radius: 2px;
    width: 137px;
    margin-left: 85px;
}
.filter-form button:hover {
	background-color: var(--basic-white);
	color: var(--basic-black);
}
.sort-title {
	font-size: 12px;
	line-height: 18px;
	padding-right: 40px;
}
.sort-list {
	list-style: none;
}
.sort-list a {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
	opacity: 0.3;
	text-decoration: none;
	border-bottom: 1px dashed #81B3D2;
}
.sort-active a {
	opacity: 1;
	color: var(--basic-blue);
	border-bottom: none;
}
.link-more {
	background-color: var(--basic-blue);
	padding: 4px 17px;
}
.link-order {
	background-color: var(--link);
	margin-left: 2px;
	padding: 4px 17px;
}
.vizihid {
	display: none;
}
.map {

}
.footer-mainpage {
	z-index: 100;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    background-color: var(--basic-white);
}
.subitem-title-box:before {
	content: "";
	width: 75px;
    height: 77px;
    position: absolute;
    top: -58px;
}
.subitem-title-box {
	position: relative;
	margin-bottom: 24px;
	margin-top: 120px;
}
.housing:before {
	background: url('../img/icon-housing.svg') no-repeat;
}
.eat:before {
	background: url('../img/icon-eat.svg') no-repeat;
}
.souvenir:before {
	background: url('../img/icon-souvenir.svg') no-repeat;
	top: -64px;
    left: 168px;
}
.form-hidden {
	display: none;
}
.form-show {
	display: block;
}
.catalog-header {
	display: none;
}
.search-result h2 {
	display: none;
}
.find-count {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	width: 135px;
}
.sort-area {
	display: flex;
	margin-left: 30px;
}
.rate-area {
	margin: 0 2px 0 auto;
	padding-top: 5px;
}
.rate-area>a:first-child {
	margin-right: 8px;
}
.sort-list li {
	display: inline-block;
    margin-right: 30px;
}
.result-item {
	padding: 24px 72px 30px;
	border-top: 1px solid var(--catalog-list-border);
	display: flex;
	position: relative;
}
.result-item .item-image {
	margin-top: 6px;
}
.result-item:last-child {
	border-bottom: 1px solid var(--catalog-list-border);
}
.result-list .item-about {
	margin-left: 30px;
}
.result-list .item-about>p {
	display: inline-block;
}
.result-list .item-about>p:first-child {
	display: block;
}
.result-list .item-type {
	width: 113px;
    padding: 7px 0 14px;
}
.result-list .item-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.item-buttons {
	margin-top: 5px;
}
.result-list a {
	color: var(--basic-white);
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}
.search-result h2 {
	display: none;
}
.star-rating-area {
	margin: 0 0 0 auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.rating {
	background-color: var(--form-field);
    padding: 2px 12px;
}
.stars {
    height: 17px;
    margin-top: 6px;
}
.star4 {
	width: 76px;
}
.star3 {
	width: 56px;
}
.star2 {
	width: 36px;
}
.search-result .wrapper {
	display: flex;
	margin: 30px 72px;
}